mule/scatter_gather_poc/raml_project/src/main/mule/sharingdetails.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="sharingdetails-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http}" />
    </http:listener-config>
    <apikit:config name="sharingdetails-config" api="resource::b48c7fdb-eeae-429c-abe8-0a315605f572:sharingdetails:1.0.1:raml:zip:sharingdetails.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" parser="RAML"/>
    <api-gateway:autodiscovery apiId="17970742" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="55c4c361-e25f-4044-ae50-f7f08dbad096" flowRef="sharingdetails-main" />
	<configuration doc:name="Configuration" doc:id="eb271462-9149-4bdf-a32e-84d0d0fa7fce" defaultErrorHandler-ref="global_errorError_Handler_file" />
	<configuration-properties doc:name="Configuration properties" doc:id="ff8fe72e-ba93-4488-af6a-e5389cbcf83c" file="config.properties" />
	<flow name="sharingdetails-main">
        <http:listener config-ref="sharingdetails-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sharingdetails-config" />
        
    </flow>
    <flow name="sharingdetails-console">
        <http:listener config-ref="sharingdetails-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sharingdetails-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\dbtest:sharingdetails-config">
		<logger level="INFO" message="get:\dbtest:sharingdetails-config" />
		<ee:transform doc:name="Transform Message" doc:id="078ed1a1-8c15-4047-9db2-d8276a46b581" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"hello" ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
