mule/scatter_gather_poc/handson_project/src/main/mule/handson_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a251fee1-d691-4d74-ba61-e2974a84a78e" >
		<http:listener-connection host="localhost" port="${http}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="a4d51aa0-6091-4f1d-ba9f-85dd87ec3e86" file="config.properties" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="91fb880f-3b80-4725-a40c-33e674efa4bb" basePath="api.openweathermap.org/data/2.5/weather" >
		<http:request-connection protocol="HTTPS" />
	</http:request-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="0bb770da-eb39-4745-8541-3aa4ca4b1e91" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="sehgalekta02@gmail.com" password="attitude-123" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true"/>
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="session3" doc:id="b4942ff0-3436-4dff-883c-02267734713e" >
		<http:listener doc:name="Listener" doc:id="d52150e6-cf72-4ec8-97e3-77057ea0b15c" config-ref="HTTP_Listener_config" path="/session3"/>
		<set-payload value='#["hello ekta "++ attributes.queryString]' doc:name="Set Payload" doc:id="5d6ceec5-f1b7-42ec-ab48-9342ca8bbe3c" />
	</flow>
	<flow name="session4" doc:id="12e6622a-1f4b-493d-9c4f-c0fdff25f1be" >
		<http:listener doc:name="Listener" doc:id="faeccb24-bd92-4989-84e8-51a45ec0ae41" config-ref="HTTP_Listener_config" path="/session4"/>
		<set-payload value='#["Hello session4 main flow"]' doc:name="Set Payload" doc:id="61f90181-2c7b-46c2-88ec-d68791208756" />
		<set-variable value="#[payload]" doc:name="test" doc:id="2b9f9e32-719a-4f92-9ef6-a2aeece13b16" variableName="test"/>
		<flow-ref doc:name="Flow Reference" doc:id="005909a2-1a79-4da1-86af-73aae70d73ab" name="privateflowsession4"/>
		<ee:transform doc:name="Transform Message" doc:id="87cc3579-db25-4861-972c-16348d984808" >
			<ee:message >
				<ee:set-payload ><![CDATA[

vars.test]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="test" ><![CDATA[
vars.test]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="DEBUG" doc:name="Logger" doc:id="4b4a393f-ad75-420c-a99a-88b6a5f459f2" message='#[payload ++ attributes.queryParams ++"--"++ attributes.methods]'/>
		<set-payload value='#[payload ++ attributes.queryParams.name]' doc:name="Set Payload" doc:id="7cbba4b5-39a9-4132-855d-b70c9571c55f" />
	</flow>
	<flow name="privateflowsession4" doc:id="285e4826-0c60-40d9-b715-6b7a8a2d0f9f" >
		<set-payload value='#[payload ++ "----private flow"]' doc:name="Set Payload" doc:id="361278eb-152b-4d9d-80b0-e65231afddf5" />
		<flow-ref doc:name="Flow Reference" doc:id="c59bfbf0-0fa1-4637-b421-31b68292f9b9" name="subflowsession4"/>
	</flow>
	<sub-flow name="subflowsession4" doc:id="50e67d47-0f18-421c-ad9a-7bc13625234d" >
		<set-payload value='#[payload ++ "-----sub flow---------"]' doc:name="Set Payload" doc:id="1263de85-1523-41eb-830b-21461259ef3e" />
	</sub-flow>
	<flow name="dataweave_session5" doc:id="33fea6a2-552f-4c5a-a607-d3ab15d9e960" >
		<http:listener doc:name="Listener" doc:id="ece3100c-7373-473d-aced-9de41bfba51c" config-ref="HTTP_Listener_config" path="/session5"/>
		<ee:transform doc:name="Transform Message" doc:id="d8a76112-dc42-4094-a4ea-104effe2817a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
 
output application/json
---
 "hi " ++ payload.name ++"you are in"++ attributes.queryParams.org]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="session5_transformdatatype" doc:id="2f562a33-0c61-4258-9c5d-6fa9a1f977ee" >
		<http:listener doc:name="Listener" doc:id="b2b03561-3ef7-47e1-a3f5-c2d4a6ddc96c" config-ref="HTTP_Listener_config" path="/session5T"/>
		<ee:transform doc:name="transform" doc:id="25784bef-7311-495a-a59e-764b1b523db1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0

output application/json
---
payload


/*output application/xml
 *root:payload
 */
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="map" doc:id="4533462d-5835-4b3b-be3f-8079180adadf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var a=
[
{
	"name":"abc",
	"id":"53204",
	"org":["ds","cts"]
	
}
,
{
	"name":"xyz",
	"id":"30400",
	"org":null
}	
]

---

payload map((item,index)->
{
	"candidate":item.name,
	"uniid":item.id++"_"++ index,
	"pos":index,
	"organisation":item.org map{
		"org_name":($ default "No org")++"--"++ item.id
	} 
	
})
/**
a map((item,index)->
{
	"candidate":item.name,
	"uniid":item.id++"_"++ index,
	"pos":index,
	"organisation":item.org map{
		"org_name":$++"--"++ item.id
	} 
	
})

**/
/* 
a map {
	"candidate":$.name,
	"uniid":$.id++"_"++$$,
	"pos":$$
}
*/
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="reduce" doc:id="6b2b308c-38c2-4fb3-86ea-e42a6ad8c0bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload reduce($$+$)


//everything in single object used on array only]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="session5_transform_mapobj" doc:id="b5cee060-fc2d-4707-af3f-0f611e8f1cef" >
		<http:listener doc:name="Listener" doc:id="7fe65db9-3287-4081-91ba-7ecbad83f50a" config-ref="HTTP_Listener_config" path="/session5TMO"/>
		<ee:transform doc:name="Transform Message" doc:id="a5dbb251-e96e-4883-b4c6-b1e85ba5371f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var a=
{
	"name":"ekta",
	"id":"53204"
	
}

---
payload

/*
emp:
 payload mapObject ((value, key, index) -> 
 	"":value
 )
  *
   */
 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="pluck" doc:id="3581f38a-9173-4e49-a62a-ce9b71bc55ce">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---


 payload pluck ((value, key, index) -> 
 	"":value
 )
//pluck give array of obj]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="session5_flatten" doc:id="bef83e2b-94f6-4ceb-b249-e525d777117d" >
		<http:listener doc:name="Listener" doc:id="9e7d2358-2dff-437d-bb1f-876216bf1b0a" config-ref="HTTP_Listener_config" path="/session5TF"/>
		<ee:transform doc:name="flatten" doc:id="eb429509-3274-4ada-862e-02f22be91c26" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var a=[

{
	"name":"ekta",
	"id":"53204"
	
}


]
var b=[
{
	"name":"ektaS",
	"id":"53205"
	
}

]
---
//(flatten(a+b)).id

flatten((a map(upper($.name)))+(b map(upper($.name))))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="handson_projectFlow" doc:id="4ab9d30f-2170-47f3-81fe-94f2ae10eb23" >
		<http:listener doc:name="Listener" doc:id="e01f28bc-8fa4-475a-bc16-9ad384b18b36" config-ref="HTTP_Listener_config" path="/filter"/>
		<ee:transform doc:name="filter order grp" doc:id="4738b10e-2f1d-44d8-a5f5-7c6dfcbac9c4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var a=
[
{
	"name":"abc",
	"id":"53204",
	"org":["ds","cts"]
	
}
,
{
	"name":"xyz",
	"id":"30400",
	"org":null
}	
]

---

((a map((item,index)->
{
	"candidate":item.name,
	"uniid":item.id++"_"++ index,
	"pos":index,
	"organisation":item.org map{
		"org_name":($ default "No org")++"--"++ item.id
	} 
	
})) groupBy $.pos)."0"

//orderBy $.uniid

//filter $.pos==0

//groupBy $.pos]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="attributes/Fun" doc:id="321d3bb6-144d-4baa-bd26-b2491fc2d93a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
var a=
[
{
	"name":"abc",
	"id":"53204",
	"org":["ds","cts"],
	"Math":"60"
	
}
,
{
	"name":"xyz",
	"id":"30400",
	"org":null,
	"Math":"50"
}	
]

fun checkmark(mark)= if(mark>50) "Pass"else "fail"
---


Employee:
 {
 	(a map
     { employeedetails:{
 	"name":$.name,
 	"id":$.id,
 	"mark":$.Math,
 	"marks":checkmark($.Math)	
    }
    }
    
 )
 }
 
 /*
Employee:
 {
 	(a map
     { employeedetails:{
 	"name":$.name,
 	"id":$.id,
 	"mark":$.Math,
 	"marks":if($.Math>50)
"Pass"else "fail" 	
    }
    }
    
 )
 }*/




/* employeedetails:
{
	(
a map{
	employee @(id :$.id):
	{
	"nameemp":$.name,
	"empid":$.id,
	"Math":"50"
}
})

}

*/
 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="calling dw" doc:id="4dc300e1-6715-48c2-ae42-67f05960ae12" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import modules::sample
output application/json
---
sample::convert("hello")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="session6" doc:id="f61867b5-3ab7-4dca-b255-973ead7b7003" >
		<http:listener doc:name="Listener" doc:id="75d2fcf4-b7c9-4bb9-bd5b-73db7b3c59b3" config-ref="HTTP_Listener_config" path="/session6"/>
		<set-variable value="#[payload.city]" doc:name="city" doc:id="30461293-c494-4eab-ac45-d5d3b9e89986" variableName="city"/>
		<http:request method="POST" doc:name="Request" doc:id="9f79f9cd-1725-4fdf-bc38-a76b1b469ec0" config-ref="HTTP_Request_configuration" url="https://api.openweathermap.org/data/2.5/weather" responseTimeout="180000000">
			<http:query-params ><![CDATA[#[output application/java
---
{
	q : vars.city,
	appid : "8902806f4579c8555e120c11a5e16ba2"
}]]]></http:query-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..499" />
			</http:response-validator>
		</http:request>
		<choice doc:name="Choice" doc:id="57e7b045-3bf8-47ba-8ed3-98dcbc6defcd">
			<when expression="#[attributes.statusCode as String==200]">
				<ee:transform doc:name="Transform Message" doc:id="df21cee3-8685-44cd-9942-8a3e467a9588">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{"min temp":payload.main.temp_min as Number-273 ++"celcius",
	"max temp":payload.main.temp_max as Number-273 ++"celcius"
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="a72288ce-2f6b-489c-aad3-fd65033c42a5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.message]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="scatter-gather" doc:id="d9091067-93e1-49f1-b394-42ba7c155271" >
		<http:listener doc:name="Listener" doc:id="1c06969d-2cbc-4e77-b5fb-e66409855800" config-ref="HTTP_Listener_config" path="/session6SG"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="91d50782-2302-4af0-98ff-4eb8a08d458e" />
		<scatter-gather doc:name="Scatter-Gather" doc:id="17468c3f-8d2e-4860-a811-fd2dfbb0d6f2" >
			<route >
				<ee:transform doc:name="Transform Message" doc:id="e3f52a3b-520b-4693-bb43-c941a233d1f7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"first":payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="9243e428-00cc-4d64-9b73-5658e2063011" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
null]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="ebae300c-5a27-4ab9-87ab-00e939a3471c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"third":payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
		</scatter-gather>
		<validation:is-not-null doc:name="Is not null" doc:id="28a48592-b060-4258-9973-ae2092ed82f7" value="#[payload[1].payload]" message="null"/>
		<ee:transform doc:name="Transform Message" doc:id="2a58d1df-9234-49a0-b194-6a41b0d80903" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0].payload ++ payload[1].payload++ payload[2].payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5609a63c-332d-405c-98a0-f211c976f1bc" />
	</flow>
	<flow name="handson_projectFlow1" doc:id="8f72a06f-39cb-4a9f-8608-fb7373d8cc44" >
		<http:listener doc:name="Listener" doc:id="bb4f876e-334b-432e-bcc5-57c1d13ae34f" config-ref="HTTP_Listener_config" path="/cert"/>
		<set-payload value='"start"' doc:name="start" doc:id="d0f38410-e36b-47d0-8fd0-51328b37a317" />
		<validation:is-blank-string doc:name="Is blank string" doc:id="25378d30-3d48-4c0e-8f93-fcb01a95dbda" value="#[payload]"/>
		<set-payload value='"end"' doc:name="end" doc:id="90dfbc0c-9b4b-4722-9163-eda827bea7ca" />
	</flow>
	<flow name="handson_projectFlow2" doc:id="9ebb4104-ec67-4cec-bd54-3e50401a2120" >
		<http:listener doc:name="Listener" doc:id="bdba3528-6fce-4b1f-b5cc-7eb0cc4b5783" config-ref="HTTP_Listener_config" path="/cert1" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="6b25310a-23c4-4b4c-ab9f-5ded3ec710ee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"vendor" :"acme" } ++ payload.sale]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="59851fdd-1221-46ce-8f96-ae5d3fda7a2c" path="C:\Users\ESL5\Desktop\desktop_22 (1)\file.csv"/>
	</flow>
	<flow name="handson_projectFlow3" doc:id="86d272d2-83d2-48a5-8b2f-239a208db2d5">
		<http:listener doc:name="Listener" doc:id="a7ef9cdc-0659-4e8a-9073-dcf3c36fac97" config-ref="HTTP_Listener_config" path="/cert2"/>
		<set-payload value="#[[1,2,3,4]]" doc:name="Set Payload" doc:id="e4e96911-87ed-4c36-b266-968f11504370" />
		<set-variable value="10" doc:name="Set Variable" doc:id="89da940d-3e78-48d3-8758-2e3d882dcf9a" variableName="q"/>
		<foreach doc:name="For Each" doc:id="4a38a383-5733-422c-965d-1ca1c8177231" >
			<set-payload value='#["order"++ payload]' doc:name="Set Payload" doc:id="18cef76b-172f-44f9-b731-69395cdf8eeb" />
			<set-variable value="#[vars.q+1]" doc:name="Set Variable" doc:id="89fdcb2c-2226-4f55-8d62-ae92746e80bd" variableName="q"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="b66ba7dd-3e13-4992-b4fd-68999d219875" message="#[[payload,vars.q]]"/>
		<ee:transform doc:name="Transform Message" doc:id="6087587d-7358-4541-b07b-00cd9cbadbf7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[output application/json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="1ac1be8b-b9bc-4233-865a-a4faec657409" />
	</flow>
	<flow name="handson_projectFlow5" doc:id="d1f5abbd-8417-4cac-89ba-5ba6b9ddbbf2" >
		<http:listener doc:name="Listener" doc:id="6920082d-0f13-4baf-8c8c-29d493db7d14" config-ref="HTTP_Listener_config" path="/cert5"/>
		<set-payload value='#[lookup("item", {&#10;	name: "abc",&#10;	price: "100"&#10;})]' doc:name="Set Payload" doc:id="d47231df-5892-46a1-99eb-ce200b39c078" />
	</flow>
	<flow name="item" doc:id="54354c70-8517-420a-880e-e8bb21126d54" >
		<set-payload value='#[output application/json&#10;---&#10;order:&#10;{&#10;	item:&#10;	{&#10;		"name":payload.name,&#10;		"price":payload.price&#10;	}&#10;}]' doc:name="Set Payload" doc:id="ad64c885-a605-4f00-93e9-0b0e4170a585" />
	</flow>
	<flow name="Emailconnectorsession9" doc:id="34bc0f00-0205-4a01-9722-449550a7f5bd" >
		<http:listener doc:name="Listener" doc:id="fcfbb7ca-2819-4c4e-849c-31faf175455f" config-ref="HTTP_Listener_config" path="/session9"/>
		<email:send doc:name="Send" doc:id="7ddaf31f-315e-434e-974c-f1fb6754e1b0" config-ref="Email_SMTP" fromAddress="sehgalekta02@gmail.com" subject="hello">
			<email:to-addresses >
				<email:to-address value="sehgalekta2@gmail.com" />
			</email:to-addresses>
			<email:body contentType="text/plain">
				<email:content ><![CDATA[ekta]]></email:content>
			</email:body>
		</email:send>
		<ee:transform doc:name="Transform Message" doc:id="b7447269-fc6c-48b2-8cc6-47b03694a3f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
